<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>Página principal</h1>

        <h3>En oferta</h3>
        <% inSale.forEach(prodInSale => { %>
            <p>
                <a href="/products/<%= prodInSale.id %>">
                    <%= prodInSale.id %> - <%= prodInSale.name %>
                </a>
            </p>
        <% }); %>

        <h3>Visitados</h3>
        <% visited.forEach(prodVisited => { %>
            <a href="/products/<%= prodVisited.id %>">
                <p><%= prodVisited.id %> - <%= prodVisited.name %></p>
            </a>
        <% }); %>

        
    </main>
</body>
</html>