<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>Producto <%= product.id %></h1>
        <div>
            <h4>Nombre:</h4>
            <p><%=product.name%></p>
            <br>
            <h4>Descripción: </h4>
            <p><%= product.description %></p>
            <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                <input type="submit" value="Eliminar">
            </form>
            <form action="/products/edit/<%= product.id %>" method="get">
                <input type="submit" value="Editar">
            </form>
        </div>
    </main>
</body>
</html>